<%- include("header", {
  title: "MSB - Exams Panel ",
  stylefile: "exams",
  role: role,
}) %>
<main>
  <section class="sidebar">
    <h1>
      <select class="" name="">
        <% classes.forEach(trida => {
          if(class_id === trida.id){%>
           <option onclick="window.location.href=`/teacher/exams/<%= trida.id %>` selected">
             <%= trida.name %>
           </option>
         <%}else {%>
           <option onclick="window.location.href=`/teacher/exams/<%= trida.id %>`">
             <%= trida.name %>
           </option>
         <%}}) %>
      </select>
    </h1>
    <% tests.forEach(test => {%>
      <p><a href="/teacher/exams/<%= class_id %>/<%= test.id %>"><%= test.name %></a></p>
    <%})%>
    <p><a href="/teacher/exams/<%= class_id %>/new">new exam</a></p>
  </section>
  <form class="control">
    <article class="avg">
      <span>
        <h1>
          <% if(selected_test.name !== undefined){%>
            <%= selected_test.name %>
          <%}else{%>
            TEST name
          <%} %>
      </h1>
        <a href="">Open testing</a>
        <p>difficulty: normal</p>
      </span>
      <span>
        <h1>AVG - 3.2</h1>
        <p>
          <button type="button" name="button">grade</button>
        </p>
      </span>
    </article>
    <article class="setter">
      <span>
        <h3>name of student</h3>
        <p>mark</p>
      </span>
      <% students.forEach((student) => {%>
      <span>
          <p><%= student.name %></p>
          <select name="marks[]">
            <option value="<%= student.id %>_0">N</option>
            <option value="<%= student.id %>_1">1</option>
            <option value="<%= student.id %>_2">2</option>
            <option value="<%= student.id %>_3">3</option>
            <option value="<%= student.id %>_4">4</option>
            <option value="<%= student.id %>_5">5</option>
          </select>
      </span>
      <% }) %>
    </article>
  </form>
</main>
