<%- include("header", {
  title: "MBS - Exams Panel ",
  stylefile: "exams",
  role: role,
}) %>
<%
let marks = [
  {name: "N", val: 0},
  {name: "1", val: 1},
  {name: "2", val: 2},
  {name: "3", val: 3},
  {name: "4", val: 4},
  {name: "5", val: 5},
];
let AVG_local_raw = 0;
let ALL_local_raw = students.length;
students.forEach(student => {
  AVG_local_raw += student.mark;
  if(student.mark === 0){
    ALL_local_raw--;
  }
});
let AVG_selected = AVG_local_raw/ALL_local_raw;
let AVG_local = AVG_selected/AVG;
let AVG_return = "";

if(selected_test.avg === null){
  AVG_local = 1;
}

if(AVG_local < 0.3){
  AVG_return = "very easy";
}else if(AVG_local < 0.8){
  AVG_return = "easy";
}else if(AVG_local < 1.2){
  AVG_return = "normal";
}else if(AVG_local < 1.8){
  AVG_return = "hard";
}else if(AVG_local < 1.3){
  AVG_return = "very hard";
}else{
  AVG_return = "impossible";
}
%>
<main>
  <section class="sidebar">
    <h1>
      <select class="" name="">
        <% classes.forEach(trida => {
          if(class_id === trida.id){%>
           <option onclick="window.location.href=`/teacher/exams/<%= trida.id %>`"selected>
             <%= trida.name %>
           </option>
         <%}else {%>
           <option onclick="window.location.href=`/teacher/exams/<%= trida.id %>`">
             <%= trida.name %>
           </option>
         <%}}) %>
      </select>
    </h1>
    <% tests.forEach(test => {%>
      <p><a href="/teacher/exams/<%= class_id %>/<%= test.id %>"><%= test.name %></a></p>
    <%})%>
    <p><a href="/teacher/exams/<%= class_id %>/new">new exam</a></p>
  </section>
  <form class="control" action="/teacher/grade/<%= class_id %>/<%= selected_test.id %>" method="POST">
    <article class="avg">
      <span>
        <h1>
          <% if(selected_test.name !== undefined){%>
            <%= selected_test.name %>
          <%}else{%>
            TEST name
          <%} %>
        </h1>
        <a href="">Open testing</a>
        <p>difficulty: <% if(selected_test.avg === undefined){%>None<%}else{ %> <%= AVG_return %><% } %></p>
      </span>
      <span>
        <h1><%if(selected_test.avg === undefined){%>None<%}else if(selected_test.avg !== null){%>AVG - <%= AVG_selected.toFixed(2) %><%}else{ %>Total AVG - <%= AVG.toFixed(2) %><% } %> </h1>
        <p>
          <button type="submit" name="button">grade</button>
        </p>
      </span>
    </article>
    <article class="setter">
      <span>
        <h3>name of student</h3>
        <p>mark</p>
      </span>
      <% if(students !== ''){
        students.forEach((student) => {%>
        <span>
            <p><%= student.name %></p>
            <select name="marks[]">
              <% marks.forEach(mark => { %>
                <option value="<%= student.id %>_<%= mark.val %>" <% if(mark.val === student.mark) {%> selected <%} %>><%= mark.name %></option>
              <% }); %>
            </select>
        </span>
        <% })
      } %>
    </article>
  </form>
</main>