<%- include("header", {
  title: "MSB - Exams Panel ",
  stylefile: "exams",
  role: role,
}) %>
<%
let mark_avg = [
  {val:0.6, text: "very easy"},
  {val:0.8, text: "easy"},
  {val:1, text: "normal"},
  {val:1.2, text: "hard"},
  {val:1.4, text: "very hard"},
];
let marks = [
  {name: "N", val: 0},
  {name: "1", val: 1},
  {name: "2", val: 2},
  {name: "3", val: 3},
  {name: "4", val: 4},
  {name: "5", val: 5},
];

%>
<main>
  <section class="sidebar">
    <h1>
      <select class="" name="">
        <% classes.forEach(trida => {
          if(class_id === trida.id){%>
           <option onclick="window.location.href=`/teacher/exams/<%= trida.id %>`"selected>
             <%= trida.name %>
           </option>
         <%}else {%>
           <option onclick="window.location.href=`/teacher/exams/<%= trida.id %>`">
             <%= trida.name %>
           </option>
         <%}}) %>
      </select>
    </h1>
    <% tests.forEach(test => {%>
      <p><a href="/teacher/exams/<%= class_id %>/<%= test.id %>"><%= test.name %></a></p>
    <%})%>
    <p><a href="/teacher/exams/<%= class_id %>/new">new exam</a></p>
  </section>
  <form class="control" action="/teacher/grade/<%= class_id %>/<%= selected_test.id %>" method="POST">
    <article class="avg">
      <span>
        <h1>
          <% if(selected_test.name !== undefined){%>
            <%= selected_test.name %>
          <%}else{%>
            TEST name
          <%} %>
        </h1>
        <a href="">Open testing</a>
        <p>difficulty: normal</p>
      </span>
      <span>
        <h1>AVG - 3.2</h1>
        <p>
          <button type="submit" name="button">grade</button>
        </p>
      </span>
    </article>
    <article class="setter">
      <span>
        <h3>name of student</h3>
        <p>mark</p>
      </span>
      <% students.forEach((student) => {%>
      <span>
          <p><%= student.name %></p>
          <select name="marks[]">
            <% marks.forEach(mark => { %>
              <option value="<%= student.id %>_<%= mark.val %>" <% if(mark.val === student.mark) {%> selected <%} %>><%= mark.name %></option>
            <% }); %>
          </select>
      </span>
      <% }) %>
    </article>
  </form>
</main>