<%- include("header", { title: typeof selected_lesson._id != "undefined" ? `Admin - ${selected_lesson.name}`: 'Admin - lessons' , stylefile: "admin" , role: role }); %>
  <% 
    let days = [{name: "Monday" , low: "mo" },{name: "Tuesday" , low: "tu" }, {name: "Wensday" , low: "we" },{name: "Thurday" , low: "th" }, {name: "Frieday" , low: "fr" }]; 
    let day_limit = 8; 
    let lessons_raw = selected_lesson.teacher ? lessons.filter(l => l.teacher == selected_lesson.teacher) : undefined;
  %>
    <main>
      <section class="edit">
        <article class="users">
          <h1>Lessons</h1>
          <form class="edituser" action="/root/editlesson" method="POST">
            <input type="text" name="name" value="<% if(selected_lesson !== []){ %><%= selected_lesson.name %><% } %>" placeholder="Subject name">
            <% if (typeof lessons_raw !== "undefined"){ %>
              <table>
                <tr>
                  <th></th>
                  <% for (let i=0; i < day_limit; i++) { %>
                    <th><%= i+1 %></th>
                  <% } %>
                </tr><tr>
                  <% days.map(day => { %> 
                    <td><%= day.name %></td>
                    <% for (let i = 0; i < day_limit; i++) {
                      let [nothing, something, fm] = [false, false, " "];
                      selected_lesson.time.map(t => t.time == i+1 && t.day.toLowerCase() === day.low ? nothing = true : '')
                      if(typeof lessons_raw !== "undefined")
                      lessons_raw.map(lr => lr.time.map(t => t.time === i+1 && t.day.toLowerCase() === day.low && !nothing?(something=true,fm=lr.name.substring(0,2).toUpperCase()): 0)) %>
                    <td <%= something ? '' : 'onclick=changeCheckbox(event)'%> class="<%= something ? 'noTime' : nothing ? "checked":"" %>">
                      <input type="checkbox" name="time[]" <%= something ? "" : 'style="cursor: pointer"' %> 
                        value="<%= `${day.low}-${i+1}` %>" <%= nothing || something ? "checked":"" %>
                        <%= something ? "disabled":"" %> hidden>
                      <p><%= fm %></p>
                    </td>
                    <% } %> 
                  </tr>
                  <% }); %>
                </table> 
            <% } %>
            <input type="text" name="id"
              value="<% if(selected_lesson !== []){ %><%= selected_lesson.id %><% }else{%>_<%} %>" hidden>
            <span class="origin">
              <select name="teachername">
                <% teachers.forEach(teacher=> {
                  if(typeof selected_lesson !== 'undefined' && selected_lesson.teacher === teacher.id){%>
                    <option value="<%= teacher.id %>" selected>
                      <%= teacher.name %>
                    </option>
                  <%}else{%>
                    <option value="<%= teacher.id %>">
                      <%= teacher.name %>
                    </option>
                  <% }}); %>
              </select>
              <select name="clas">
                <% if(typeof classes !== 'undefined'){
                  classes.forEach(clas => { %>
                    <option value="<%= clas.id %>" <% if(selected_class !== null && Number(selected_class.id_class) === clas.id){%> selected <%} %>><%= clas.name %></option>
                  <% });
                } %>
              </select>
            </span>
            <span class="submiter">
              <button onclick="window.location.href=`/root/lessons`" type="button">Cancel</button>
              <% if (typeof selected_lesson.id !== 'undefined'){%> <button onclick="remove(event)">Delete</button> <%} %>
              <button type="submit" name="button">Submit</button>
            </span>
          </form>
        </article>
      </section>
      <section class="show">
        <article class="navbar">
          <a href="/root/users">users</a>
          <a href="/root/lessons">lessons</a>
          <a href="/root/classes">classes</a>
        </article>
        <article class="showest">
          <span><h3>name</h3><h3>teacher</h3></span>
          <div class="shower">
            <% 
            teachers.map(t => {
              lessons.filter(l => l.teacher == t._id).map(l => { %>
                <button <% if(selected_lesson._id == l._id.toString()){ %> disabled <% } %> onclick="window.location.href=`/root/lesson/<%= l._id %>`;" type="button">
                <p><%= l.name %></p>
                <p><%= t.name %></p>
              </button>
              <% })
            }) %>
          </div>
        </article>
      </section>
      <script>
        const changeCheckbox = (e) => {
          if(e.target.children[0].checked){
            e.target.className = "";
            e.target.children[0].checked = false
          }else{
            e.target.className = "checked";
            e.target.children[0].checked = true
          }
        };
        const remove = (e) => {
          e.preventDefault();
          if(confirm(`Do you want to remove this lesson from DB?`)){
            window.location.href=`/root/remove_lesson/<%= selected_lesson.id %>`;
          }
        }
      </script>
    </main>
    </body>

    </html>