<%- include("header", { title: "Admin - lessons" , stylefile: "admin" , role: role }); %>
  <% 
  let days=[{name: "Monday" , low: "mo" },{name: "Tuesday" , low: "tu" }, {name: "Wensday" , low: "we" },{name: "Thurday" , low: "th" }, {name: "Frieday" , low: "fr" }, ]; 
  let day_limit = 8; 
  let lessons_raw = [];
  let time_raw = [];
  let timers = [];
  if(typeof selected_lesson.id !== 'undefined'){
    time_raw = selected_lesson.time.split('.');
    lessons.filter(lesson => selected_lesson.teacher === lesson.teacher_id).forEach(lesson => {
      lesson.time.forEach(time => {
        lessons_raw.push({
          id: lesson.id,
          name: lesson.name,
          day: time.day,
          time: time.time
        })
      });
    });
    selected_lesson.time.split('.').forEach(time_help => {
      for (let index = 0; index < time_help.length; index++) {
        let helper_of = time_help.toString().split('-');
        timers.push({
          day: helper_of[0],
          time: Number(helper_of[1])
        })
      }
    });
  }
  %>
    <main>
      <section class="edit">
        <article class="users">
          <h1>Lessons</h1>
          <form class="edituser" action="/root/editlesson" method="POST">
            <!-- edit or create by if id is "_" or number -->
            <input type="text" name="name" value="<% if(selected_lesson !== []){ %><%= selected_lesson.name %><% } %>" placeholder="Subject name">
            <table>
              <tr><th></th><% for (let index=0; index < day_limit; index++) { %><th><%= index+1 %></th><% } %></tr>
              <tr>
                <% days.forEach(day => { %>
                  <td><%= day.name %></td>
                  <%
                  for (let index = 0; index < day_limit; index++) { 
                    let there_nothing = false;
                    let something_else = false;
                    timers.forEach(timer => {
                      if(timer.time === index+1 && timer.day.toLowerCase() === day.low){
                        there_nothing = true;
                      }
                    })
                    lessons_raw.forEach(lesson_raw => {
                      if(lesson_raw.time === index+1 && lesson_raw.day.toLowerCase() === day.low && !there_nothing){
                        something_else = true;
                      }
                    }) 
                    %> 
                    <td <% if(!something_else){%> onclick="changeCheckbox(event)" <%} %> class="<% if(something_else){%> noTime <%}else if(there_nothing){%> checked <%} %>"><input type="checkbox" name="time[]" <% if(!something_else){%> style="cursor: pointer" <%} %> value="<%= day.low.toUpperCase() %>-<%= index+1 %>" <%if(there_nothing || something_else){ %> checked <% } if(something_else){%> disabled <%} %> hidden ></td>
                <% }%>
              </tr>
              <% }); %>
            </table>
              <input type="text" name="id"
                value="<% if(selected_lesson !== []){ %><%= selected_lesson.id %><% }else{%>_<%} %>" hidden>
              <span class="origin">
                <select name="teachername">
                  <% teachers.forEach(teacher=> {
                    if(typeof selected_lesson !== 'undefined' && selected_lesson.teacher === teacher.id){%>
                    <option value="<%= teacher.id %>" selected>
                      <%= teacher.name %>
                    </option>
                    <%}else{%>
                      <option value="<%= teacher.id %>">
                        <%= teacher.name %>
                      </option>
                      <% }}); %>
                </select>
              </span>
              <span class="submiter">
                <button onclick="window.location.href=`/root/lessons`" type="button">Cancel</button>
                <% if (typeof selected_lesson.id !== 'undefined'){%> <button onclick="remove(event)">Delete</button> <%} %>
                <button type="submit" name="button">Submit</button>
              </span>
          </form>
        </article>
      </section>
      <section class="show">
        <article class="navbar">
          <a href="/root/users">users</a>
          <a href="/root/lessons">lessons</a>
          <a href="/root/classes">classes</a>
        </article>
        <article class="showest">
          <span><h3>name</h3><h3>teacher</h3></span>
          <div class="shower">
            <% teachers.forEach(teacher=> {
              lessons.filter(lesson => lesson.teacher_id === teacher.id).forEach(lesson => {%>
              <button onclick="window.location.href=`/root/lesson/<%= lesson.id %>`;" type="button">
              <p><%= lesson.name %></p>
              <p><%= lesson.teacher %></p>
              </button>
              <%}); })%>
          </div>
        </article>
      </section>
      <script>
        const changeCheckbox = (e) => {
          if(e.target.children[0].checked){
            e.target.className = "";
            e.target.children[0].checked = false
          }else{
            e.target.className = "checked";
            e.target.children[0].checked = true
          }
        };
        const remove = (e) => {
          e.preventDefault();
          if(confirm(`Do you want to remove this lesson from DB?`)){
            window.location.href=`/root/remove_lesson/<%= selected_lesson.id %>`;
          }
        }
      </script>
    </main>
    </body>

    </html>