<%- include("header", {
  title: "MBS - My mark",
  stylefile: "mark",
  role: role,
  role: role,
}) %>
<main>
  <section class="sidebar">
    <h1>Hodiny</h1>
    <% lessons.map(lesson => { %>
      <p><a href="/student/mark/<%= lesson._id %>"><%= lesson.name %></a></p>
    <% }) %>
  </section>
  <section class="statistic">
    <article class="student" style="padding-bottom: 40px">
      <h1><%= typeof selected_lesson !== 'undefined' ? selected_lesson.name : "Předmět" %></h1><h1>Průměr: <%= typeof AVG === "undefined" ? "Nula" : AVG %></h1>
    </article>
    <article class="exams">
      <span class="first-span">
        <p>Jmeno testu</p>
        <p>známka</p>
      </span/>
      <% if (typeof selected_lesson !== "undefined") { %>
        <% if(typeof answers != "undefined" && answers.length > 0){ %>
          <% answers.map(answer => { %>
            <span class="first-span">
              <p><%= answer.test_name %></p>
              <p><%= answer.mark !== null ? answer.mark : "No mark" %></p>
            </span/>
          <% }) %>
        <% } else { %>
          <h1>Nepsal jsi žádný test.</h1>
        <% } %>
      <% } else { %>
        <h1>Hodina nebyla vybrána.</h1>
      <% } %>
    </article>
  </section>
</main>
</html>
