<%- include("header", {
  title: "MBS - My mark",
  stylefile: "mark",
  role: role,
  role: role,
}) %>
<main>
  <section class="sidebar">
    <h1>Classes</h1>
    <% lessons.map(lesson => { %>
      <p><a href="/student/mark/<%= lesson._id %>"><%= lesson.name %></a></p>
    <% }) %>
  </section>
  <section class="statistic">
    <article class="student">
      <h1>Subject</h1><h1>AVG: <%= typeof AVG === "undefined" ? "Zero" : AVG %></h1>
    </article>
    <article class="exams">
      <span class="first-span">
        <p>Name of test</p>
        <p>mark</p>
      </span/>
      <% if (typeof selected_lesson !== "undefined") { %>
        <% if(typeof answers != "undefined" && answers.length > 0){ %>
          <% answers.map(answer => { %>
            <span class="first-span">
              <p><%= answer.test_name %></p>
              <p><%= answer.mark !== null ? answer.mark : "No mark" %></p>
            </span/>
          <% }) %>
        <% } else { %>
          <h1>You didn't write any test</h1>
        <% } %>
      <% } else { %>
        <h1>Lesson is not selected</h1>
      <% } %>
    </article>
  </section>
</main>
</html>
