<%- include("header", { title: "MBS - My School", stylefile: "admin", role: role }); %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <main>
      <section class="edit">
        <article class="users">
          <h1>User</h1>
          <form class="edituser" action="/root/edituser/" method="POST">
            <input type="text" name="name" placeholder="User name" value="<%= selected_user.name %>">
            <input type="text" name="pwd" placeholder="Password is hashed" value="">
            <input type="text" name="id" value="<%= selected_user.id %>" hidden>
            <span class="origin">
              <input type="text" name="email" placeholder="Email" value="<%= selected_user.email %>">
              <select class="" name="role">
                <option value="student" <% if(selected_user.role === 1){%>selected<%} %>>Student</option>
                <option value="teacher" <% if(selected_user.role === 2){%>selected<%} %>>Teacher</option>
                <option value="principal" <% if(selected_user.role === 3){%>selected<%} %>>Principal</option>
              </select>
            </span>
            <span class="submiter">
              <button type="button" name="button" onclick="window.location.href=`/root/users`">Cancel</button>
              <button type="submit" name="button">Submit</button>
            </span>
          </form>
        </article>
        <form class="massage" action="/root/messenge" method="POST">
          <h1>Send global Messange</h1>
          <textarea class="messange" name="messenge" placeholder="Enter Massage"></textarea>
          <button type="submit" name="button">Submit</button>
        </form>
      </section>
      <section class="show">
        <article class="navbar">
          <a href="/root/users">users</a>
          <a href="/root/lessons">lessons</a>
          <a href="/root/classes">classes</a>
        </article>
        <article class="showest">
          <span>
            <h3>name</h3>
            <h3>role</h3>
          </span>
          <div class="shower">
            <% let roleLister = [ {role: 3, name: "principal"}, {role: 2, name: "teacher"}, {role: 1, name: "student"}];%>
            <% roleLister.map(rl => users.filter(u => u.role === rl.role).map(u => { %> 
              <button <%= u._id.toString() === selected_user._id.toString() ? "disabled": "style='cursor: pointer'"%> onclick="window.location.href=`/root/user/<%= u._id %>`" type="button"><p><%= u.name %></p><p><%= rl.name %> </p></button>
            <% })) %> 
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
